POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=123123

POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=YOUR_DjANGO_SECRET_KEY
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Web Push (VAPID) Генерация: vapid --gen && vapid --applicationServerKey
WEBPUSH_VAPID_PUBLIC_KEY=
WEBPUSH_VAPID_PRIVATE_KEY=
WEBPUSH_VAPID_SUBJECT=mailto:admin@example.com
